@model THITHUWEB.Models.TAISAN

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string xs = "";
}

@*<h4 style="color:red;"> Bạn có chắc chắn xóa tài sản này?</h4>
    <table border="0" cellpadding="0" cellspacing="0" style="font-size:14px;margin-left:50px;">
        <tr>
            <td>
                <table cellpadding="2" cellspacing="10">
                    <caption><b>THÔNG TIN CHI TIẾT</b></caption>
                    <tr>
                        <td rowspan="8"><img src="/Images/@Html.DisplayFor(model => model.AnhMH)" width="100" height="100" /></td>
                        <td>Mã tài sản:</td>
                        <td>@Html.DisplayFor(model => model.MaTS)</td>
                    </tr>
                    <tr>
                        <td>Tên tài sản:</td>
                        <td>@Html.DisplayFor(model => model.TenTS)</td>
                    </tr>

                    <tr>
                        <td>Xuất sứ:</td>
                        <td>
                            @{if (Model.XuatSu == true)
                                { xs = "Trong nước"; }
                                else
                                { xs = "Ngoại nhập"; }
                            }
                            @xs
                        </td>
                    </tr>
                    <tr>
                        <td>Đơn vị tính:</td>
                        <td>@Html.DisplayFor(model => model.DVT)</td>
                    </tr>
                    <tr>
                        <td>Đơn giá:</td>
                        <td>@Html.DisplayFor(model => model.DonGia)</td>
                    </tr>

                    <tr>
                        <td>Loại tài sản:</td>
                        <td>@Html.DisplayFor(model => model.LOAITAISAN.TenLTS)</td>
                    </tr>
                    <tr>
                        <td>Ghi chú:</td>
                        <td>@Html.DisplayFor(model => model.GhiChu)</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>*@



<!--========================-->
<style>
    .content {
        margin: 50px auto;
        width: 50%;
        border: 3px solid;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 16px;
        font-weight:600;
    }

    .EmpImg img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
</style>

<div class="content">
    <div class="EmpImg">
        <img src="/Images/@Html.DisplayFor(model => model.AnhMH)" alt="Alternate Text" />
    </div>

    <div style="padding: 50px">
        <div style="display: flex; justify-content: center;">
            <div>
                <fieldset>
                    <legend>THÔNG TIN TÀI SẢN CẦN XOÁ </legend>

                    <table>
                        <tr>
                            <td style="padding-right: 10px; padding-bottom: 10px">Mã tài sản: </td>
                            <td style="padding-bottom: 10px"><span>@Html.DisplayFor(model => model.MaTS)</span></td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px; padding-bottom: 10px">Họ tên: </td>
                            <td style="padding-bottom: 10px"><span>@Html.DisplayFor(model => model.TenTS)</span></td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px; padding-bottom: 10px">Xuất sứ: </td>
                            <td style="padding-bottom: 10px">
                                <span>
                                    @{if (Model.XuatSu == true)
                                        { xs = "Trong nước"; }
                                        else
                                        { xs = "Ngoại nhập"; }
                                    }
                                    @xs
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px; padding-bottom: 10px">Đơn vị tính: </td>
                            <td style="padding-bottom: 10px"><span>@Html.DisplayFor(model => model.DVT)</span></td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px; padding-bottom: 10px">Đơn giá: </td>
                            <td style="padding-bottom: 10px"><span>@Html.DisplayFor(model => model.DonGia)</span></td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px; padding-bottom: 10px">Loại tài sản: </td>
                            <td style="padding-bottom: 10px"><span>@Html.DisplayFor(model => model.LOAITAISAN.TenLTS)</span></td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px; padding-bottom: 10px">Ghi chú: </td>
                            <td style="padding-bottom: 10px"><span>@Html.DisplayFor(model => model.GhiChu) </span></td>
                        </tr>

                    </table>
                </fieldset>
            </div>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-actions no-color" style="margin-left:50px;">
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <button class="btn btn-warning" onclick="location.href='@Url.Action("Index", "TAISAN_61134311")';return false;">Trở về</button>
    </div>
        }

    </div>
</div>


